@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;

}
nav{
    font-family: 'Ubuntu',sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type:none;
    height: 66px;
    background-color: black;
    color: white;

}
nav ul li{
    padding: 0 12px;
}
.brand img{

    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 73vh;
    background-color: black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 20px;
     background-image: url('download.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    

}
#progressBaar{
    width: 45vw;
    text-align: center;
    cursor: pointer;

}
.icons{
    margin: 7px;
}
.icons i{
    cursor: pointer;
}

.naatItem{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 83%;
    color: black;
    margin: 12px 0px;
     border-radius: 34px;
}

.naatItem img{

    width: 29px;
    margin: 0 23px;
    border-radius: 34px;
   
}
.timeStamp{
   margin: 0 23px;
   

}
.naatItemContainer{
    margin-top: 60px;
}
.naatInfo{
    position: absolute;
    left: 27vw;
}
.naatInfo img{
    opacity: 0;
    transition: opecity 0.5s ease-in;
}